---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {% raw %}{{ .Release.Name }}{% endraw %}-synapse-cm
data:
  homeserver.yaml: |-
{% raw %}{{ .Files.Get "synapse/config/homeserver.yaml" | indent 4 }}{% endraw %}

  {{ matrix_server_fqn_matrix }}.log.config: |-
{% raw %}{{ .Files.Get (printf "synapse/config/%s.log.config" .Values.Vars.matrix_server_fqn_matrix) | indent 4 }}{% endraw %}