---
apiVersion: v1
kind: Service
metadata:
  name: {{ matrix_k8s_resource_prefix}}-matrix-nginx-proxy
  labels:
    role: {{ normalizedRoleName }}
    {{ matrix_k8s_selector|to_nice_yaml(indent=4)|trim|indent(4) }}
spec:
  ports:
  - port: 8080
    name: http
  - port: 12080
    name: http-synapse
  - port: 12088
    name: http-federation
  clusterIP: None
  selector:
    role: {{ normalizedRoleName }}
    {{ matrix_k8s_selector|to_nice_yaml(indent=4)|trim|indent(4) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ matrix_k8s_resource_prefix }}-matrix-synapse-federation
  labels:
    role: {{ normalizedRoleName }}
    {{ matrix_k8s_selector|to_nice_yaml(indent=4)|trim|indent(4) }}
spec:
  ports:
  - port: 8448
    name: http
  clusterIP: None
  selector:
    role: {{ normalizedRoleName }}
    {{ matrix_k8s_selector|to_nice_yaml(indent=4)|trim|indent(4) }}

