Release:
  Name: {{ matrix_k8s_namespace }}

namespace: 
  name: {{ matrix_k8s_namespace }}
  labels: {{ matrix_k8s_namespace_labels|to_json }}

nginxproxy:
  resolver: "10.43.0.10"
  client_api_backend: {{ matrix_synapse_client_api_backend }}

synapse:
  image: ghcr.io/swarnat/matrix-synapse-k8s:v1.69.0
  podLabels: {{ matrix_k8s_synapse_podlabels|to_json }}

Vars:
  matrix_server_fqn_matrix: {{ matrix_server_fqn_matrix }}

  matrix_nginx_proxy_docker_image: {{ matrix_nginx_proxy_docker_image }}

  matrix_domain: {{ matrix_domain }}
