      initContainers:
      - name: secret-replacement
        command:
          - sh
          - -c
          - |
            cp -r /data-raw/* /data/ && \
{% if matrix_k8s_configuration.passwordVariables is defined and matrix_k8s_configuration.passwordVariables|length > 0 %}
{% for line in matrix_k8s_configuration.passwordVariables %}            
              echo "Set Password '{{ line.variable|upper }}'" && \
              find /data/ -type f -exec sed -i 's/secret@@{{ line.variable }}@@secret/'"${{ line.variable|upper }}"'/g' {} + && \
{% endfor %}              
{% endif %}
              echo "successfully migrated /data/ and set passwords"  
        image: "alpine:3.15"
        imagePullPolicy: Always
{% if secret_passwords is defined and secret_passwords|length > 0 %}        
        envFrom:
          - secretRef:
              name: {{ matrix_k8s_resource_prefix }}-{{ resourceName }}-passwd
{% endif %}              
        volumeMounts:
        - mountPath: /data
          name: config-volume        
{% for line in matrix_k8s_configuration.files.config %}
        - name: "config"
          mountPath: "{{ line.dest|replace("/data/", "/data-raw/") }}"
          subPath: "{{ line.id }}"
{% endfor %}
{% for line in matrix_k8s_configuration.files.secret %}
        - name: "secret"
          mountPath: "{{ line.dest|replace("/data/", "/data-raw/") }}"
          subPath: "{{ line.id }}"
{% endfor %}
