---
apiVersion: v1
kind: Service
metadata:
{% if not matrix_k8s_configuration.service.name is defined %}
  name: {{ matrix_k8s_resource_prefix }}-{{ role_name }}
{% else %}
  name: {{ matrix_k8s_resource_prefix }}-{{ matrix_k8s_configuration.service.name }}
{% endif %}
  labels:
    role: {{ role_name }}
    {{ matrix_k8s_selector|to_nice_yaml(indent=4)|trim|indent(4) }}
spec:
  ports:
{% for port in matrix_k8s_configuration.ports %}  
  - port: {{ port.port }}
    name: {{ port.name }}
{% endfor %}
  clusterIP: None
  selector:
    role: {{ role_name }}
    {{ matrix_k8s_selector|to_nice_yaml(indent=4)|trim|indent(4) }}