---
{% if matrix_k8s_configuration.files.config is defined and matrix_k8s_configuration.files.config|length > 0 %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ matrix_k8s_resource_prefix }}-{{ resourceName }}
data:
{% for line in matrix_k8s_configuration.files.config %}
{% if line.src is defined %}
  {{ line.id }}: |-
{% raw %}{{{% endraw %} .Files.Get "{{ line.src }}" | indent 4 }}
{% endif %}    
{% endfor %}
{% endif %}