---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ matrix_k8s_resource_prefix }}-{{ resourceName }}
  labels:
    role: {{ normalizedRoleName }}
    {{ matrix_k8s_selector|to_nice_yaml(indent=4)|trim|indent(4) }}
spec:
  selector:
    matchLabels:
      role: {{ normalizedRoleName }}
      {{ matrix_k8s_selector|to_nice_yaml(indent=6)|trim|indent(6) }}
  strategy:
    type: RollingUpdate
  replicas: {{ matrix_k8s_configuration.replicas }}
  template:
    metadata:
      annotations: 
{% if matrix_k8s_configuration.files.config is defined and matrix_k8s_configuration.files.config|length > 0 %}      
        checksum/config: {% raw %}{{{% endraw %} include (print $.Template.BasePath "/{{ normalizedRoleName }}/configmap.yaml") . | sha256sum }}
{% endif %}
{% if matrix_k8s_configuration.files.secret is defined and matrix_k8s_configuration.files.secret|length > 0 %}      
        checksum/secret: {% raw %}{{{% endraw %} include (print $.Template.BasePath "/{{ normalizedRoleName }}/secret.yaml") . | sha256sum }}
{% endif %}
{% if matrix_k8s_configuration.secretENV is defined %}      
        checksum/secret_env: {% raw %}{{{% endraw %} include (print $.Template.BasePath "/{{ normalizedRoleName }}/secret-env.yaml") . | sha256sum }}
{% endif %}
      labels:
        role: {{ normalizedRoleName }}
        {{ matrix_k8s_selector|to_nice_yaml(indent=8)|trim|indent(8) }}
{% if matrix_k8s_configuration.defaultPodLabels is defined and matrix_k8s_configuration.defaultPodLabels|length > 0 %}
        {{ matrix_k8s_configuration.defaultPodLabels|to_nice_yaml(indent=8)|trim|indent(8) }}
{% endif %}
{% if matrix_k8s_configuration.podLabels is defined and matrix_k8s_configuration.podLabels|length > 0 %}
        {{ matrix_k8s_configuration.podLabels|to_nice_yaml(indent=8)|trim|indent(8) }}
{% endif %}
    spec:
      serviceAccountName: {{ matrix_k8s_serviceaccount }}
      containers:
      - image: {{ matrix_k8s_configuration.image | quote }}
        name: {{ matrix_k8s_resource_prefix }}-{{ resourceName }}
{% if matrix_k8s_configuration.secretENV is defined %}
        envFrom:
          - secretRef:
              name: {{ matrix_k8s_resource_prefix }}-{{ resourceName }}-env
{% endif %}
        resources:
          {{ matrix_k8s_configuration.resources|to_nice_yaml(indent=10)|trim|indent(10) }}
        readinessProbe:
          tcpSocket:
            port: {{ matrix_k8s_configuration.ports[0].port }}
          initialDelaySeconds: {{ matrix_k8s_configuration.boottime }}
          periodSeconds: 5
        imagePullPolicy: Always
{% if matrix_k8s_configuration.deployment.command is defined %}
        command: {{ matrix_k8s_configuration.deployment.command | to_json  }}
{% endif %}
{% if matrix_k8s_configuration.deployment.args is defined %}
        args: {{ matrix_k8s_configuration.deployment.args | to_json  }}
{% endif %}
{% if (matrix_k8s_configuration.files.config is defined and matrix_k8s_configuration.files.config|length > 0) or 
      (matrix_k8s_configuration.files.secret is defined and matrix_k8s_configuration.files.secret|length > 0) %}
        volumeMounts:
{% for line in matrix_k8s_configuration.files.config %}
        - name: "config"
          mountPath: "{{ line.dest }}"
          subPath: "{{ line.id }}"
{% endfor %}
{% for line in matrix_k8s_configuration.files.secret %}
        - name: "secret"
          mountPath: "{{ line.dest }}"
          subPath: "{{ line.id }}"
{% endfor %}
{% endif %}

{% if matrix_k8s_configuration.ports is defined and matrix_k8s_configuration.ports|length > 0 %}
        ports:
{% for port in matrix_k8s_configuration.ports %}
        - containerPort: {{ port.port }}
          name: {{ port.name }}        
{% endfor %}
{% endif %}
{% if (matrix_k8s_configuration.files.config is defined and matrix_k8s_configuration.files.config|length > 0) or (matrix_k8s_configuration.files.secret is defined and matrix_k8s_configuration.files.secret|length > 0) %}
      volumes:
{% if matrix_k8s_configuration.files.config is defined and matrix_k8s_configuration.files.config|length > 0 %}
        - name: "config"
          configMap:
            name: "{{ matrix_k8s_resource_prefix }}-{{ resourceName }}"          
{% endif %}
{% if matrix_k8s_configuration.files.secret is defined and matrix_k8s_configuration.files.secret|length > 0 %}
        - name: "secret"
          secret:
            secretName: "{{ matrix_k8s_resource_prefix }}-{{ resourceName }}"          
{% endif %}
{% endif %}