{% if matrix_k8s_configuration.secretENV is defined %}
---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    helm.sh/resource-policy: keep
  name: {{ matrix_k8s_resource_prefix }}-{{ resourceName }}-env
  labels:  
    {{ matrix_k8s_selector|to_nice_yaml(indent=6)|trim|indent(6) }}    
{% if matrix_k8s_configuration.secretLabels is defined and matrix_k8s_configuration.secretLabels|length > 0 %}
    {{ matrix_k8s_configuration.secretLabels|to_nice_yaml(indent=4)|trim|indent(4) }}
{% endif %}
data:
{% raw %}{{-{% endraw %} $secretENVFile := "{{ matrix_k8s_configuration.secretENV }}" -}}
{% raw %}
  {{ range .Files.Lines $secretENVFile }}
  {{   if . }}
  {{-     $parts := regexSplit "=" . 2 -}}
  {{-      if index $parts 1 -}}
  {{-       index $parts 0  }}: {{ index $parts 1 | b64enc -}}
  {{-      end -}}
  {{-   end -}}
  {{ end }}
{% endraw %}
{% endif %}

